In [1]:
import pandas

In [2]:
match_players = pandas.read_json('./games.json').drop_duplicates()

In [3]:
matches = pandas.read_json('./players.json').drop_duplicates()

In [4]:
civ_data = pandas.read_json('./civs.json')
map_data = pandas.read_json('./maps.json')
print(civ_data)
print(map_data)

    id       string     civ_name
0    0       Aztecs       Aztecs
1    1      Berbers      Berbers
2    2      Britons      Britons
3    3   Bulgarians   Bulgarians
4    4  Burgundians  Burgundians
5    5      Burmese      Burmese
6    6   Byzantines   Byzantines
7    7        Celts        Celts
8    8      Chinese      Chinese
9    9       Cumans       Cumans
10  10   Ethiopians   Ethiopians
11  11       Franks       Franks
12  12        Goths        Goths
13  13         Huns         Huns
14  14        Incas        Incas
15  15      Indians      Indians
16  16     Italians     Italians
17  17     Japanese     Japanese
18  18        Khmer        Khmer
19  19      Koreans      Koreans
20  20  Lithuanians  Lithuanians
21  21      Magyars      Magyars
22  22        Malay        Malay
23  23      Malians      Malians
24  24       Mayans       Mayans
25  25      Mongols      Mongols
26  26     Persians     Persians
27  27   Portuguese   Portuguese
28  28     Saracens     Saracens
29  29    Sicilians    Sicilians
30  30        Slavs        Slavs
31  31      Spanish      Spanish
32  32       Tatars       Tatars
33  33      Teutons      Teutons
34  34        Turks        Turks
35  35   Vietnamese   Vietnamese
36  36      Vikings      Vikings
      id              string            map_name
0      9              Arabia              Arabia
1     10         Archipelago         Archipelago
2     11              Baltic              Baltic
3     12        Black Forest        Black Forest
4     13             Coastal             Coastal
..   ...                 ...                 ...
110  147       Amazon Tunnel       Amazon Tunnel
111  148      Coastal Forest      Coastal Forest
112  149    African Clearing    African Clearing
113  150             Atacama             Atacama
114  151  Seize the Mountain  Seize the Mountain

[115 rows x 3 columns]

In [5]:
print(len(match_players))
match_players.head(3)

27971

,match_id,lobby_id,match_uuid,version,name,num_players,num_slots,average_rating,cheats,full_tech_tree,...,team_together,team_positions,treaty_length,turbo,victory,victory_time,visibility,opened,started,finished
0,1966687,NaN,a2dc2412-0b7a-764d-acd5-b1d494500afc,NaN,AUTOMATCH,2,2,NaN,False,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,1575477598,1575477598,1575481480
1,1966820,NaN,8eebc9fb-ad80-3b41-aca5-130bd981ced5,NaN,AUTOMATCH,2,2,NaN,False,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,1575477704,1575477704,1575480887
2,1967029,NaN,c00f3b96-75d3-9b40-b9f4-568dcb274041,NaN,AUTOMATCH,2,2,NaN,False,NaN,...,NaN,NaN,4,NaN,NaN,NaN,NaN,1575477922,1575477922,1575481502

In [6]:
print(len(matches))
matches.head(3)

141532

,profile_id,steam_id,name,clan,country,slot,slot_type,rating,rating_change,games,wins,streak,drops,color,team,civ,won,match_uuid
0,551364,7.656120e+16,Mr.BlindBoy,NaN,SE,1,1,971.0,NaN,NaN,NaN,NaN,NaN,1.0,1,16,0.0,a2dc2412-0b7a-764d-acd5-b1d494500afc
1,232887,7.656120e+16,"Lv. 0,125 Snens",NaN,DE,2,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2,16,1.0,a2dc2412-0b7a-764d-acd5-b1d494500afc
2,412954,7.656120e+16,Tryptix_,NaN,US,1,1,990.0,16.0,NaN,NaN,NaN,NaN,1.0,1,5,1.0,8eebc9fb-ad80-3b41-aca5-130bd981ced5

In [7]:
join = pandas.merge(matches, match_players, left_on='match_uuid', right_on='match_uuid', how='inner')
join = pandas.merge(join, civ_data, left_on='civ', right_on='id', how='left')
join = pandas.merge(join, map_data, left_on='map_type', right_on='id', how='left')
#join.sort_values(by=['match_id'])
join = join.sample(frac=1).reset_index(drop=True)

join

,profile_id,steam_id,name_x,clan,country,slot,slot_type,rating,rating_change,games,...,visibility,opened,started,finished,id_x,string_x,civ_name,id_y,string_y,map_name
0,807456,7.656120e+16,ROLO,NaN,NO,2,1,674.0,-16.0,NaN,...,NaN,1575832409,1575832409,1575832643,23,Malians,Malians,14,Continental,Continental
1,467047,7.656120e+16,Finch,NaN,US,1,1,NaN,NaN,NaN,...,NaN,1575840436,1575840436,1575841712,31,Spanish,Spanish,31,Oasis,Oasis
2,514293,7.656120e+16,D3D,NaN,IN,1,1,1035.0,NaN,NaN,...,NaN,1576180862,1576180862,1576181593,24,Mayans,Mayans,9,Arabia,Arabia
3,809669,NaN,None,NaN,None,1,1,NaN,NaN,NaN,...,NaN,1575653974,1575653974,1575655527,19,Koreans,Koreans,31,Oasis,Oasis
4,684530,7.656120e+16,Barney_Style,NaN,US,2,1,1027.0,-16.0,NaN,...,NaN,1576459172,1576459172,1576459733,10,Ethiopians,Ethiopians,13,Coastal,Coastal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41349,932294,7.656120e+16,Dakota Fanning,NaN,US,1,1,NaN,NaN,NaN,...,NaN,1576357784,1576357784,1576359407,23,Malians,Malians,69,Cenotes,Cenotes
41350,207977,7.656120e+16,FireFrozt,NaN,DE,2,1,NaN,NaN,NaN,...,NaN,1575994002,1575994002,1575995930,19,Koreans,Koreans,25,Scandinavia,Scandinavia
41351,757517,7.656120e+16,SuperSaiyajin Jürgen,NaN,DE,1,1,NaN,NaN,NaN,...,NaN,1575572597,1575572597,1575573544,6,Byzantines,Byzantines,9,Arabia,Arabia
41352,309303,7.656120e+16,Zanderx,NaN,US,2,1,978.0,15.0,NaN,...,NaN,1576511267,1576511267,1576513140,16,Italians,Italians,26,Mongolia,Mongolia
41353,235259,7.656120e+16,Logan the Hamster,NaN,DE,1,1,965.0,16.0,NaN,...,0.0,1576636589,1576636589,1576639471,25,Mongols,Mongols,77,MegaRandom,MegaRandom

In [8]:
maps = join.map_name.unique()

In [9]:
players_data = join.loc[join['rating'] > 1500]
player_ids_over_elo = players_data.profile_id.unique()
data = join.loc[join['profile_id'].isin(player_ids_over_elo)]
civs = data.civ_name.unique()
for civ in civs:
    print(civ.upper())
    civ_games = data.loc[data['civ_name'] == civ]
    players = civ_games.profile_id.unique()
    for player in players:
        player_civ_games = civ_games[civ_games['profile_id'] == player]
        max_rating = players_data.loc[players_data['profile_id'] == player].rating.max()
        player_name = player_civ_games.name_x.max()
        #temp_loc = temp_loc.loc[temp_loc['map_name'] == map]
        if(len(player_civ_games)):
            [wins,losses] = player_civ_games['won'].value_counts().reindex(
    [0,1], fill_value=0).values
            win_rate = wins/(wins+losses)
            print('\t', int(player), win_rate, len(player_civ_games), max_rating, player_name)
            #print(temp_loc)

MAYANS
	 224786 0.0 1 1668.0 VNS_CooL_
	 965185 0.0 1 1604.0 DetSvenskaTrollet
	 886066 0.0 1 1568.0 Ace119
	 459658 1.0 1 1602.0 DS_HOANG |AOEBuilds.com
ITALIANS
	 886066 0.0 1 1568.0 Ace119
BULGARIANS
	 196310 0.0 1 1717.0 F1Re
MALIANS
	 886066 0.3333333333333333 3 1568.0 Ace119
INDIANS
	 369536 0.0 1 1600.0 Skull
SLAVS
	 738273 1.0 1 1588.0 Zxdf_
GOTHS
	 955124 0.0 1 1543.0 お任せ
	 886066 0.0 1 1568.0 Ace119
	 534438 0.0 1 1649.0 _WWP_Tim_
CHINESE
	 955124 0.0 1 1543.0 お任せ
	 575279 1.0 2 1528.0 _WWP_瓜瓜
	 223206 1.0 1 1532.0 NOC | komtan
PORTUGUESE
	 575279 0.0 1 1528.0 _WWP_瓜瓜
CUMANS
	 369536 0.0 1 1600.0 Skull
ETHIOPIANS
	 738273 0.0 1 1588.0 Zxdf_
MAGYARS
	 199325 0.0 1 1885.0 [Tempo] Hera
	 369536 0.0 1 1600.0 Skull
AZTECS
	 965185 0.0 1 1604.0 DetSvenskaTrollet
JAPANESE
	 251265 1.0 1 1833.0 MbL40C
CELTS
	 955124 0.0 1 1543.0 お任せ
KOREANS
	 347269 0.0 1 1667.0 ACCM |AOEbuilds.com
BURGUNDIANS
	 575279 1.0 1 1528.0 _WWP_瓜瓜
MONGOLS
	 199170 0.0 1 1712.0 dogao
INCAS
	 226575 0.0 1 1615.0 _WWP_lyx
SPANISH
	 195601 1.0 1 1502.0 HETU-PHALA