In [21]:
import pandas

In [22]:
match_players = pandas.read_csv('./match_players.csv')

In [23]:
matches = pandas.read_csv('./matches.csv')

In [24]:
match_players.head()

              token             match  rating   color      civ  team  winner
0  rFWxLAdY6TF78xlo  axps4XstiBOmrDeG  1565.0     Red  Chinese     1   False
1  zsyvxRyzLh85YIba  axps4XstiBOmrDeG  1600.0    Blue    Goths     2    True
2  CHrJISNtjKDKM114  uQdosqwC7uiQ78ya  2145.0  Orange    Incas     1   False
3  X147inwVdQuaegxT  uQdosqwC7uiQ78ya  2124.0   Green   Tatars     2    True
4  kNckdaCe6pjKm6Au  uQdosqwC7uiQ78ya  2105.0     Red  Magyars     1   False

In [25]:
matches.head()

,token,winning_team,mirror,ladder,patch,average_rating,map,map_size,num_players,server,duration
0,B2c2Ad6Uf6TVL5uk,2,False,RM_1v1,39515,1575.0,arabia,tiny,2,brazilsouth,0:23:30
1,eb8WdcbYlpeFLnoc,2,False,RM_TEAM,39515,2187.0,arabia,large,8,eastus,0:32:48
2,tphUBvZ8eZBmai0L,2,False,RM_TEAM,39515,2450.0,megarandom,large,8,brazilsouth,0:33:08
3,Kmhn0HZ8o8WwdXV9,1,False,RM_TEAM,39515,2387.0,arabia,large,8,ukwest,0:25:51
4,U198Wdc3kzJPBVqh,1,False,RM_1v1,37906,1095.0,acropolis,tiny,2,eastus,0:40:55

In [35]:
join = matches.join(match_players, lsuffix='match', rsuffix='token')
join = join.loc[join['ladder'] == 'RM_1v1'] #only look at 1v1
join = join.loc[join['duration'] > '0:5:00'] #over 5 minutes so quick resigns are out
join = join.sort_values(by=['match'])

In [36]:
join

,tokenmatch,winning_team,mirror,ladder,patch,average_rating,map,map_size,num_players,server,duration,tokentoken,match,rating,color,civ,team,winner
1172700,nMLARFyklgGULVMz,2,False,RM_1v1,41855,808.0,golden_pit,tiny,2,brazilsouth,1:05:14,TA7amy6RejXCQgZG,0002d9bbcf8dd32c,1072.0,Blue,Teutons,2,False
489781,IdMBU8pPNMIYcXsW,2,False,RM_1v1,39515,1288.0,arabia,tiny,2,brazilsouth,8:22:51,Ag4OeKbycuelnzrP,0005274245b1c9cb,957.0,Blue,Japanese,2,False
2859160,77e11c005f2f17b6,1,False,RM_1v1,36906,NaN,nomad,tiny,2,ukwest,"20 days, 15:20:52",ea3f4953f488e512,0007c597e2defa90,1084.0,Blue,Franks,2,False
2859161,fca5909675b389ce,1,False,RM_1v1,36906,760.0,arena,tiny,2,ukwest,"17 days, 19:47:09",589778091333f37e,0007c597e2defa90,1060.0,Yellow,Japanese,1,True
2785192,60c410bbe7c86a7f,2,False,RM_1v1,36202,608.0,hideout,tiny,2,brazilsouth,"19 days, 13:51:43",3233ebce620f6929,00083903de383b3f,1498.0,Red,Japanese,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2936451,fd79107cee93f3a6,1,False,RM_1v1,37906,972.0,continental,tiny,2,ukwest,1:09:15,7nEMbZEIiknEWY99,zz7lAkhut370eJb4,1533.0,Blue,Huns,2,False
21265,rwQYbugWcS8LHAoU,1,False,RM_1v1,36906,NaN,islands,tiny,2,ukwest,20:05:38,af84GHGOvTA3xrwW,zzCvvL3jLzffRctP,1301.0,Green,Tatars,2,True
2093786,77e2dd9202a34e29,1,False,RM_1v1,36906,880.0,nomad,tiny,2,ukwest,5:50:43,xrX4F7HSVNDQM2bT,zzDQR6VfGS7wXGXk,1466.0,Yellow,Teutons,2,True
2093787,5fd989cf69bcae5d,2,False,RM_1v1,36906,882.0,golden_swamp,tiny,2,ukwest,6:09:14,mkPjQ1vHbBZtwiPg,zzDQR6VfGS7wXGXk,1368.0,Green,Britons,1,False
274687,ThBrK7t67EKSUCCV,1,False,RM_1v1,36906,NaN,arabia,tiny,2,ukwest,"11 days, 1:38:43",0Zpd55VpiyuJgKcu,zzrZK7x56KumYjUI,1388.0,Cyan,Berbers,2,False

civs = join.civ.unique()
maps = join.map.unique()

print(maps)

In [68]:
for civ in civs:
    for map in maps:
        temp_loc = join.loc[(join['civ'] = civ) & (join['map'] == map)]
        values = temp_loc['winner'].value_counts()
        win_rate = values.values[0]/(values.values[0]+values.values[1])
        print(civ, map)
        print(win_rate)

Teutons arabia
0.5146804835924007
Japanese arabia
0.5044052863436124
Franks arabia
0.5116425424795469
Italians arabia
0.532319391634981
Cumans arabia
0.5046040515653776
Aztecs arabia
0.5212298682284041
Goths arabia
0.5401459854014599
Britons arabia
0.5081833060556464
Lithuanians arabia
0.5547445255474452
Bulgarians arabia
0.5200945626477541
Malians arabia
0.5107296137339056
Celts arabia
0.5223048327137546
Byzantines arabia
0.5338983050847458
Chinese arabia
0.5036855036855037
Saracens arabia
0.5118110236220472
Khmer arabia
0.5048426150121066
Magyars arabia
0.5193370165745856
Mayans arabia
0.5008928571428571
Huns arabia
0.5068702290076336
Mongols arabia
0.5053667262969589
Vietnamese arabia
0.5208791208791209
Turks arabia
0.5323529411764706
Indians arabia
0.5295698924731183
Persians arabia
0.505521472392638
Malay arabia
0.5769230769230769
Portuguese arabia
0.5061224489795918
Vikings arabia
0.5087440381558028
Burmese arabia
0.532871972318339
Koreans arabia
0.5871559633027523
Ethiopians arabia
0.5247524752475248
Slavs arabia
0.5264900662251656
Spanish arabia
0.5073529411764706
Tatars arabia
0.5234657039711191
Incas arabia
0.5443425076452599
Berbers arabia
0.5209003215434084